html {
    background-color: whitesmoke;
}
h1 {
    text-align: center;
    font-family: 'Archivo', sans-serif;
    color: black;
    font-size: 42pt;
    text-decoration: underline;
}
h2 {
    text-align: center;
    font-family: 'Archivo', sans-serif;
    color: black;
    font-style: italic;
    font-size: 26pt;
}

.chorus {
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    color: rgb(100, 56, 56);
    text-align: center;
    padding-left: 10em;
    font-size: 14pt;
}

.verse {
    font-family: 'Archivo', sans-serif;
    font-weight: normal;
    color: dimgrey;
    text-align: center;
    padding-right: 15em;
    font-size: 12pt;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-bottom: 3em;
}