body {background-color: lightgray;}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
p { 
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 40px;
}

    .peter {
        color: red;
        font-weight: bold;
    }

    .dana {
        color: green;
        font-weight: bold;
    }

    .line {
        color: black
    }
    .ray {
        color: teal;
        font-weight: bold;
    }
    .mayor {
        color: magenta;
        font-weight: bold;
    }
    .winston {
        color: darkorange;
        font-weight: bold;
    }
    .egon {
        color: brown;
        font-weight: bold;
    }
    .bracket {
        font-style: italic;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
    }